<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="personform">
			<h:panelGrid columns="2">

				<h:outputText value="#{msg.personFirstNameLabel}" />
				<h:inputText id="name" value="#{personBean.person.firstName}" />

				<h:outputText value="#{msg.personPinLabel}" />
				<h:inputText id="yob" value="#{personBean.person.pin}" />
				
				<h:outputText value="#{msg.personWeight}" />
				<h:inputText id="yob" value="#{personBean.person.weight}">
					<f:validateDoubleRange minimum="0" maximum="500" />
				</h:inputText>
			</h:panelGrid>

			<h:commandButton value="#{msg.personFormOKButton}"
				action="#{personBean.addPerson}" />
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>