<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">

		<h:form id="personForm">
            <f:event type="postValidate" listener="#{personBean.validatePinDob}" />
            
			<h:panelGrid columns="3">

				<h:outputText value="#{msg.personFirstNameLabel}" />
				<h:inputText id="firstName" value="#{personBean.person.firstName}" required="#{true}"/>
				<h:message for="firstName"/>

				<h:outputText value="#{msg.personPinLabel}" />
				<h:inputText id="pin" value="#{personBean.person.pin}"
					validator="#{personBean.uniquePin}" required="#{true}">
					<!-- <f:validator validatorId="pinValidator" />  -->
				</h:inputText>
				<h:message for="pin"/>

				<h:outputText value="#{msg.personDobLabel}" />
				<h:inputText id="dob" value="#{personBean.person.dateOfBirth}">
				  <f:convertDateTime type="date" pattern="dd.MM.yyyy" />
				</h:inputText>
				<h:message for="dob"/>

				<h:outputText value="#{msg.personZipCodeLabel}" />
				<h:inputText id="zipCode" value="#{personBean.person.zipCode}" />
				<h:message for="zipCode"/>

				<h:outputText value="#{msg.personWeightLabel}" />
				<h:inputText id="weight" value="#{personBean.person.weight}">
					<f:validateDoubleRange minimum="20.5" maximum="150.5" />
				</h:inputText>
				<h:message for="weight"/>
				
				<h:outputText value="Hobby:"/>
				<h:selectManyCheckbox id="hobby"
					value="#{personBean.person.hobbies}"
					layout="pageDirection">
					<f:selectItems value="#{hobbiesBean.hobbyItems}"/>
				</h:selectManyCheckbox>
        <h:message for="hobby"/> 
				
			</h:panelGrid>
			
			<h:commandButton value="#{msg.personFormOKButton}"
				action="#{personBean.addPerson}" />
				
		</h:form>

	</ui:define>
</ui:composition>